<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    {% extends 'layouts/base2.html'%}
    {% block content %}
    <h1>Tasks</h1>

    {% for task in tasks %}
    <div>
        <h1>{% if task.done == False %} 🕑 {% else %} ✔ {% endif %}{{task.title}}</h1>

        {% if task.done == False %}
        <p>Tarea pendiente</p>
        {% else %}
        <p>Tarea realizada</p>
        {% endif %}
        <p>{{task.description}}</p>
        <p>Project: {{task.project.name}}</p>
        <button>Delete</button>
        <button>&#x2713; Done</button>
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>