<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'layouts/base.html'%}
    
    {% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis, adipisci molestias a error fugit saepe dolorum at blanditiis quos unde voluptatum, recusandae, itaque nobis ad molestiae distinctio inventore corporis et quibusdam atque! Excepturi optio, atque nobis, illo animi necessitatibus voluptate rerum dolores, delectus numquam voluptatum ipsum sit quae. Maiores est cupiditate sunt maxime explicabo reiciendis libero repellat, odit aperiam doloribus. Officiis iste quos ullam veritatis pariatur laborum et sequi excepturi animi. Odit, provident autem? Eius temporibus placeat vel, cum et rem totam, fuga, aspernatur quos quibusdam natus delectus! Maiores voluptatum velit unde culpa! Cum aspernatur voluptate numquam sequi quam?
    </p>
    <p>Website created by {{username}}</p>
    {% endblock %}
</body>
</html>