<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam facilis corporis, dignissimos voluptate porro, dolores ipsam iste voluptatibus quidem quod, atque ea iusto tempora exercitationem recusandae saepe perferendis in.</p>

</body>
</html>
